.bg-films {
    background: url('../img/avenger.jpg');
    min-height: 100vh;
    background-position: right bottom;
    background-size: cover;
}
.card__wrap {
    border: none;
}
.car__img {
    padding: 10px;
   }
.car__img  img {
    width: 100%;
    height: 400px;
}
.card-text {

}